<!DOCTYPE html>
<html>
<head>
  <title>NotifyWith</title>
  <%= stylesheet_link_tag    "notify_with/application", media: "all" %>
  <%= javascript_include_tag "notify_with/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
